<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>
<io-conteent force-overscroll="false">
  <background-image src="./assets/img/inicio.jpg" alt="height: 60px; width: 100%;"></background-image>
  <div class="pagina-centrada">
    <div class="contenido">
      <h1>SAMURAI DIFEND</h1>
      <h5>Juego de Accion y Aventura</h5>
    </div>
  </div>
</io-conteent>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acerca del juego</ion-card-title>
      <ion-card-subtitle>Caracteristicas:</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Juego de Accion y aventura.
    </ion-card-content>
  </ion-card>